.k-meta-warning-box {
  background: var(--theme-color-back);
  border-radius: var(--rounded);
  color: var(--theme-color-text-highlight);
  display: block;
  line-height: 1.25rem;
  margin-top: var(--spacing-4);
  padding: .375rem var(--box-padding-inline);;
}
