.k-meta-warning-box {
  background: var(--theme-bg);
  border-inline-start: 2px solid var(--theme-light);
  border-radius: var(--rounded-xs);
  color: var(--color-dark);
  display: block;
  line-height: 1.25rem;
  margin-top: var(--spacing-4);
  padding: 0.5rem 1.5rem;
}
